* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles.css */
/* Đặt lại các kiểu mặc định */

body {
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: hsl(0, 0%, 0%);
  color: #ffffff;
}

/* Kiểu cho điều hướng */
.nav2 {
  margin: 8px 0;
}

/* menu */
.nav2 .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav2 .menu>li {
  list-style: none;
  position: relative;
  padding: 10px 10px;
}

.nav2 .menu li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.nav2 .menu>li>a:hover {
  color: #fcaf17;
  transition: 2s;
}

/* menu con */
.nav2 .sub-menu {
  display: none;
  width: 150px;
  height: auto;
  background-color: #333;
  position: absolute;
  z-index: 1;
}

.nav2 .sub-menu li {
  list-style: none;
  padding: 10px 2px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

/* menu con */
.nav2 .sub-menu li a {
  color: rgb(255, 255, 255);
}

.nav2 .sub-menu li:hover {
  transition: 2s;
  background-color: #fcaf17;
}

.nav2 .sub-menu li a:hover {
  color: #333;
}

.nav2 .menu li:hover .sub-menu {
  display: block;
}

/* end */
.khungaddm {
  width: 1160px;
  margin: 15px auto;
  border: 1px solid rgb(195, 195, 195);
  padding: 30px 0px;
  border-radius: 5px;
  background-color: #eaeaea;
  box-shadow: 1px 1px 100px rgb(0, 0, 0, 0.5);
}

.tieude {
  color: #0a0060;
  margin: 2px 0 5px 0;
  text-align: center;
}

.khungaddm .form-group {
  margin: 10px;
}

.khungaddm .form-group input[type="text"],
.khungaddm .form-group input[type="password"] {
  padding: 5px 10px;
  width: 245px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
}

.khungaddm .form-group input[type="submit"],
.khungaddm .form-group input[type="reset"],
.khungaddm .form-group input[type="button"],
.table input[type="button"],
.form-group select,
.boxfooter input[type="text"],
.boxfooter input[type="submit"] {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.khungaddm .form-group input[type="submit"]:hover,
.khungaddm .form-group input[type="reset"]:hover,
.khungaddm .form-group input[type="button"]:hover,
.table input[type="button"]:hover,
.boxfooter input[type="submit"]:hover {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(170, 170, 170);
  border: 1px solid #ccc;
  color: #ffffff;
}

/* danh sách danh mục */
.khungtables {
  padding: 0px 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  padding: 10px 20px;
  background-color: #ccc;
  border: 1px solid #a8a8a8;
}

table td {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
}

/* css h3 container */

.divkhung2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
.divkhungaddsp {
  margin-left: 300px;
}

.divkhungaddsp .form-group input[type="text"] {
  padding: 5px 10px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
}

.divkhungaddsp .form-group input[type="submit"],
.divkhungaddsp .form-group input[type="reset"],
.divkhungaddsp .form-group input[type="button"] .divkhungaddsp .form-group input[type="file"] {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.divkhungaddsp .form-group input[type="submit"]:hover,
.divkhungaddsp .form-group input[type="reset"]:hover,
.khungaddm .form-group input[type="button"]:hover .khungaddm .form-group input[type="file"]:hover {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(170, 170, 170);
  border: 1px solid #ccc;
  color: #ffffff;
}





/* ////////////////////////////// */
.cards {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 15px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}

a {
  text-decoration: none;
}


/* ////////////////////// */
.khungslide_home {
  margin: 12px 0;
}






/*  */
.btn-update {
  background-color: red;
  color: #fff;
  font-weight: bold;
  width: 50px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-delete {
  background-color: rgb(255, 202, 44);
  color: #000;
  font-weight: bold;
  width: 50px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-detail {
  background-color: rgb(27, 155, 223);
  color: #fff;
  font-weight: bold;
  width: 70px;
  height: 30px;
}

.mr28 {
  margin-right: 28px;
}

.btn-form-detail {
  height: 40px;
  width: 150px;
  text-align: center;
  margin-top: 20px;
  float: right;
  margin-bottom: 20px;
  display: flex;
  gap: 10%;
}

.form-confirm {
  float: right;
}

.form-confirm input[type="submit"],
button {
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 170px;
  background-color: rgb(13, 110, 253);
  color: #fff;
  font-weight: 500;
  font-size: 15.5px;
}

.form-confirm input[type="submit"]:hover,
button:hover {
  opacity: 0.6;
}

.donhangct {
  width: 98%;
  border: 2px solid #ececec;
  border-radius: 10px;
  padding: 20px 20px;
}

.mt70 {
  margin-top: 70px;
}

.statistics-title2 {
  color: rgb(255, 193, 7);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tb_detail {
  width: 100%;
}

.tb_detail th {
  text-align: left;
  height: 40px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.tb_detail th {
  text-align: left;
  height: 40px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  width: 30%;
}